.seconddiv {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 100px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}


.NavItems {

    padding-left: 20px;
    margin-top: 10px;
    color: black;
}

.itemsNavbar {
    width: 100%;
    display: flex;
    align-items: center;
}

h2 {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 22px;

}

h4 {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}

.textContent {
    padding-left: 20px;
    color: '#404040';
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    font-family: Source Sans Pro, Helvetica Neue, sans-serif;

}