.inputField {
    font-size: 15px;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 0 0 0 0;
    background-color: white;
    width: min-content;
    height: fit-content;
}

.itemsValue {
    font-size: 15px;
    color: black;
    font-weight: 500;
    font-family: sans-serif;

}